:root {
	--color-primary: #ee8777;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-gray: #c4c4c4;
	--color-fairPink: #f2e1d6;
	--color-sand: #aaa8a7;
	--color-yellow: #ffcc00;
	--color-orange: #ff9500;
	--color-pink: #ff2d55;
	--color-green: #4cd964;
	--color-redOrange: #ff3b30;
	--color-lighter: #f9f9f9;
	--color-light: #efeff4;
	--color-medium: #c8c7cc;
	--color-dark: #8a8a8f;
	--color-darker: #666666;
	--color-darkest: #22242a;
}
