.screen {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
}
.modal {
    width: 420px;
}

.name {
	font-size: 28px;
	color: var(--color-darkest);
	border: none;
	&:focus {
		outline: none;
	}
}

.content {
	width: 100%;
	height: 100px;
	resize: none;
	border: 0;
	padding: 2px;
	font-size: 15px;
	color: var(--color-darker);
	border-bottom: 1px solid var(--color-light);
	border-right: 1px solid var(--color-light);
	&:focus {
		color: var(--color-darkest);
		outline: none;
		box-sizing: unset;
	}
}

.emoji {
	padding: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-light);
	border-top-left-radius: 0.4125rem;
	cursor: pointer;
}
.photoWrapper {
	height: 240px;
	background-color: var(--color-light);
	margin-top: 12px;
}
.photos {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	z-index: 0;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.modal {
	width: 500px;
	height: 500px;
	@media (max-width: 768px) {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}
.postImage {
	width: 100%;
	display: flex;
	justify-content: center;
}
.error {
	width: 300px;
	text-align: center;
	color: var(--color-medium);
	font-weight: 700;
	font-size: 30px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
